Q-01  : What are data structures, and why are they important ?

Data Strucutre in python are some like container that stores the value, organizes it or use memory efficiently.

In other word Data Structure is a format of storing data into the memory in efficent manner in order to increase the performance of a stystem.

**Some of the data Struture are** : -->list, tuple, set, dictionary, Array, Linkedlist, Stack, Queue,Tree etc;

**Importance of Data Structure **

1. Efficient Data Handling: means storing the data in effient manner that it uses the merrory efficiently

2. Improves Performance : CHoosing the right data Structure reduces the complexity and improves performance.

3. Memory Optimization: Right data stutures uses the memory in efficient manner.

4. Enable Problem Solving
5. Flexibility

Q.02 -->   Explain the difference between mutable and immutable data types with examples ?

Answer--02:

Mutable Data Type: These are the data type that van be changed or modified after they are created once.

When we modify or change the value of data type it is modified in its own place where declared first

Example: list, dictionary, sets, array, etc;


Immutable Data Type: These are those dta type that can be modified once they are declared means once value assigned to them is permanent u can't modify it .

If we try to make changes in these kind of data type then new object is created in place of erplacing the value in old object.

Example --> String(str), tuple, int, float, bool,etc;

In [ ]:
# Mutable Data Type

list=[1,2,4,5,67,"hii",3.07]
print(list)
list[2]="Hello Awadhesh"
print("Muted List is ",list)

[1, 2, 4, 5, 67, 'hii', 3.07]
Muted List is  [1, 2, 'Hello Awadhesh', 5, 67, 'hii', 3.07]

In [ ]:
# Immutable Data

str1= "Hello Mr. Awadhesh Nice to meet you "
print(str1)
str1[2]="H"
print(str1)

Hello Mr. Awadhesh Nice to meet you

TypeError: 'str' object does not support item assignment

*  ***Note*** :: As we have seen above the string that comes under immutable data type can't be modifies once declared where as list is mutable in nature.

Q.03
What are the main differences between lists and tuples in Python?

**List**

* List are the ordered collection of items. It can hold's items of different data type
such as int,float,str,complex,boolean,etc;

* List is declared using []

* List allow duplicate items to be stored

* These are mutable in nature, and its are orderly arranged in it

* List have more built in function then tuple

Example :
* list=[1,2,3,4,3,4,3,2]


**Tuple** ::

* Tuples are Ordered,immutable collection of items Unlike List Tuple's are immutable means once declared can't be modified

* Tuples are declared using ()
* Allow Duplicates
* Tupes are faster in exectuion then list
* less build in function due to immutable in nature

Example :
* tuple=(1,2,3,4,4,3,5)

Q--04:
 Describe how dictionaries store data?

Answer : Dictionary is one   another type of Data Struture that stores the vlues in "Key-value pair"
means for each value in dic. therer is specific key g=for it

* Keys are immutable and unique whiles values are mutable
* Dict. hold the order of in item by 3.1 version

Example:: How Dict hold values

In [ ]:
# Storing values
list=[]
dict_1={"Name": "Awadhesh", "Age": 20, "Gender": "Male"}
print(dict_1)

{'Name': 'Awadhesh', 'Age': 20, 'Gender': 'Male'}

In [ ]:
print(dict_1["Name"])
print(dict_1["Age"])
print(dict_1["Gender"])

Awadhesh
20
Male

Question 05:
Why might you use a set instead of a list in Python ?

Answer

Use of set over is preferd when we want to store only unique values means no duplicate values to be stored in the memory then we use set in place of list
* List are slow in exection then set
* when we don't want to store duplicate value

Example:: storing primary key for any data

Q--06:
  What is a string in Python, and how is it different from a list ?

Answer :

**String** : String are the ordered and sequencial collection of Characters
* String can be defined by writing any character inside  *'abc ', "abc ", or '''abc ''' * .
* Example:  a="Awadhes"

Strings are different from list in different ways
* String's are immutable in nature
* Used for storing pasages while list hold items

Question--07: How do tuples ensure data integrity in Python ?

Answer:-->
**Tuples Ensures Data Integrity**

* Tuples as by nature are **immutable** that means once declared can't be changed  means value stored in them is secure'
* Tuples are used to represnt fixed Collection like primary values that do not need changes.

* Tuples after declaration only provides readability

* Note : so means tuple provode data intrigity

Question : 08-->  What is a hash table, and how does it relate to dictionaries in Python ?

Answer-->

Hash Table is one of the data structure that stores data in key value pair so to allow fast access of elements .

How it relate in Dictionaries
* As Dic. to stores values in key value pair like hash table and in dictionary
  * Keys act as hash function and values act as hash value
  * as keys provide direct  accesing of elememts by its name

Example

In [ ]:
dict={"name": 'awadhesh', 'age' : 21}
print(dict['name'])

awadhesh

Question: 09-->   Can lists contain different data types in Python ?


Answer --> **Yes**,

 List can contain differnt types of data type in single list

Example:

In [ ]:
list=[ 1,  2.2, 4, 4.0, "Abcx", True ]
# Differnt data type int,float,str,boolean
print(list)

[1, 2.2, 4, 4.0, 'Abcx', True]

Question:: 10-->
Explain why strings are immutable in Python ?

Answer-->Strings are immutable in nature bcz they are enchangeable in nature after declaraition.
* They can only be repalced or rewritten they cant be modified
* These are the reason they are immutable
* Python stores strings in memory in a way that allows reuse of the same string.

Example

In [ ]:
s = "hello"
s[0] = "H"
# its not possible

TypeError: 'str' object does not support item assignment

Question : 11--> What advantages do dictionaries offer over lists for certain tasks ?

Answer --> There are numerous advantages of dictionary over list some of them are
* Key Based Access : Dictionary offer key based accessible to values stored in dict.
* Fast Accessibility: O(1) direct access by key
* Easy update: easy to update the value without knowing position
* Increases readability in the code

Question-12-->   Describe a scenario where using a tuple would be preferable over a list?


Answer-->
tuples are prepefed over list where we want to store the values that we dont want to be altered or updated again  just like our
* Aadhar Card no,
* Back Account no.
* DOB ,etc;

And as tuples are faster then list so where we want high perforamnce we preffer tuple over list.

Question:: 13-->  How do sets handle duplicate values in Python ?

Answer --> Sets does not hold the duplicate values in it
* it ignores the duplicate value and keep the original value.
* It only keeps value once exactly

Example:

In [ ]:
set = {1, 2, 2, 3, 4, 4, 4, 5}
print(set)

{1, 2, 3, 4, 5}

Question::14 -->  How does the “in” keyword work differently for lists and dictionaries ?


Answer-->

In is a membership built -in funtion that checks whether the given is member of other is or not.

**'in'** in list is used  to check the element in it in* sequencial format* and returns true if founds that element in list.

In Dictionary "in" method is used to check key whether it is present or not
* It does not verfify or check for values of key

Example

In [ ]:
list = [10, 20, 30]
print(20 in list)
print(25 in list)

True
False

In [ ]:
dict = {'a': 1, 'b': 2}
print('a' in dict)
print(1 in dict)      #  here it does not check value

True
False

Question:: 15--> Can you modify the elements of a tuple? Explain why or why not ?


Answer--> No, we can't modify the elements of tuple bcz tuples are immutable in nature.

Example

In [ ]:
tuple = (1, 2, 3)
tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

Question::16-->  What is a nested dictionary, and give an example of its use case ?\

Answer-->  A nested dictionary is a dictionary inside another dictionary, that means one inside another.

Example

In [ ]:
students = {
    '1': {'name': 'Abc', 'age': 20, 'grade': 'A'},
    '2': {'name': 'Bcd', 'age': 21, 'grade': 'B'},
    '3': {'name': 'Cde', 'age': 22, 'grade': 'A'}
}

In [ ]:
print(students['1']['name'],students['1']['age'])
print(students['1'])

Abc 20
{'name': 'Abc', 'age': 20, 'grade': 'A'}

Question::17-->

Describe the time complexity of accessing elements in a dictionary ?

Answer--> Time complexity of accessing elements in dict. is O(1).

* Hashing technique is used in Dictioanry
* Because keys in dictionary are unique and immutable in nature.
 And this makes accessing fast

Questuion::18-->  In what situations are lists preferred over dictionaries ?

Answer--> we use list over dictionary when we want to stores value without any key or specific identity.
* When we want to access by index rather than key.
* when we are not storing elenets as key value pair.

Question::19-->  Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answer-->  Dictionary are considered to be unordered before 3.7 version after that they are considered as ordered.

* In dictioary we deels with key value pair and values are accesed using keys rather than index.

Question::20-->

Explain the difference between a list and a dictionary in terms of data retrieval ?

Answer-->  A list is an ordered collection of items, where each item has a position (index).

* To Access its elements we access it by its index(0,1,2....)

Example-->

In [ ]:

list=[1,2,23,3,4,5,5]
print(list[2])

23

A dictionary is a collection of key-value pairs, where each item has a unique key associated with a value.
* To retrive an element , we access it by its key, not by position.

Example

In [ ]:
dict={'name': 'Awadhesh', 'age': 20}
print(dict['name'])

Awadhesh

---------------------------------------------------------------------------------------------------**Practical  Questions**----------------------------------------------------------------------------------------------

Question--01  Write a code to create a string with your name and print it

In [ ]:
name="Awadhesh Pratap Singh"
print(name)
# name

Awadhesh Pratap Singh

Question-02  Write a code to find the length of the string "Hello World"?

In [ ]:
a="Hello World"
b=len(a)
print(b)

11

Question--03  Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
a="Python Programming"
print(a[:3])

Pyt

Question--04   Write a code to convert the string "hello" to uppercase ?

In [ ]:
a="hello"
b=a.upper()
print(b)

HELLO

Question--5  Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
a= "I like apple"
b=a.replace("apple","orange")
print(b)

I like orange

Question---06  Write a code to create a list with numbers 1 to 5 and print it ?

In [ ]:
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

Question--07  Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Question--08  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list= [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
#  Question 09
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list= ['a', 'b', 'c', 'd']
print(list[1])

b

Question-10-->
Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list= [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

Question--11--> Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

tuple

Question--12::Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple= ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

Question::13--> Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
tuple =(10, 20, 5, 15)
print(min(tuple))

5

Question--14::
 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tuple= ('dog', 'cat', 'rabbit')
index=tuple.index('cat')
print(index)

1

Question-15-->
 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it ?

In [ ]:
fruits = ('apple', 'kiwi', 'orange')

if 'kiwi' in fruits:
    print("Yes, kiwi is in the Fruits")
else:
    print("No, kiwi is not in the Fruits")

Yes, kiwi is in the tuple

Question-16-->

Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
a={'a','b','c'}
print(a)
type(a)

{'c', 'b', 'a'}

set

Question--17->
 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

Question-18--> Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set= {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

Question-19:-->Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1= {1, 2, 3}
set2={3, 4, 5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

Question::20-->Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1={1,2,3}
set2={2,3,4}
set3=set1.intersection(set2)
print(set3)

{2, 3}

Question--21->
Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict={'name': 'Awadhesh', 'age': 20, 'city': 'Delhi'}
print(dict)

{'name': 'Awadhesh', 'age': 20, 'city': 'Delhi'}

Question-22--> Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict={'name': 'John', 'age': 20}
dict['country']="USA"
print(dict)

{'name': 'John', 'age': 20, 'country': 'USA'}

Question 23--> Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

Question-24--> Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:

dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New York'}

Question-25--> Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict={'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

Question-26-->
Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list=[1,2,3,4,5]
tuple=(1,2,3,4,5)
dict={'name': 'Awadhesh', 'age': 20}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Awadhesh', 'age': 20}

Question-27-->
Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
list=[45,75,85,48,96]
print(list)
list.sort()
print(list)

[45, 75, 85, 48, 96]
[45, 48, 75, 85, 96]

Question--28--> Write a code to create a list with strings and print the element at the third index.

In [ ]:
list=['abc','bcd','cde','def','efg']
print(list[2])

cde

Qyestion-29--> Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict_1={'name': 'Awadhesh', 'age': 20}
dict_2={'city': 'Lucknow', 'country': 'India'}
dict_1.update(dict_2)
print(dict_1)

{'name': 'Awadhesh', 'age': 20, 'city': 'Lucknow', 'country': 'India'}

Question--30-->  Write a code to convert a list of strings into a set.

In [ ]:
list=['a','b','c','d','e']
b={i for i in list}
print(b)

'''a = ['a', 'b', 'c', 'd']
 b = set (a)
 print(b) '''# Is creating error don't kow why

{'b', 'e', 'd', 'a', 'c'}